################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/FolderWatch2BlobStorage/v16/.suo
/src/FolderWatch2BlobStorage/bin/Debug/netcoreapp2.1
/src/FolderWatch2BlobStorage.Tests/obj/Debug/netcoreapp2.1
/src/FolderWatch2BlobStorage.Tests/bin/Debug/netcoreapp2.1
/src/FolderWatch2BlobStorage/obj
/src/FolderWatch2BlobStorage.Tests/obj
/.vscode
/src/.vs
/src/FolderWatch2BlobStorage/bin/Debug/netstandard2.0
/src/FolderWatch2BlobStorage.Console/.vs/FolderWatch2BlobStorage.UI
/src/FolderWatch2BlobStorage.Console/bin/Debug
/src/FolderWatch2BlobStorage.Console/obj
/src/FolderWatch2BlobStorage.Tests/bin
/TestDemoResponseFile.txt
/src/FolderWatch2BlobStorage.UI
/src/FolderWatch2BlobStorage.Console/bin/Release/netcoreapp3.0
/src/FolderWatch2BlobStorage/bin
